<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clothes of clothingItems" [ngClass] ="{'clearance':clothes.clearance}" >
        <td><img [src]="clothes.image" [alt]="clothes.name"></td>
        <td>{{clothes.name}}</td>
        <td>{{clothes.type}}</td>
        <td>{{clothes.price | currency}}</td>
        <td *ngIf="clothes.stock !=0; else noStock">{{clothes.stock}}</td>
        <ng-template #noStock><td class="badge badge-secondary">Sin stock</td></ng-template>
      </tr>
    </tbody>
  
  </table>